<h1>Dashboard</h1>



<ul>
    <li><%= link_to "edit profile", edit_user_registration_path  %></li>
    <li><%= link_to "add a course", new_course_path  %></li>
    <li><%= link_to "view course list", courses_path  %></li>
    <li><%= link_to "create group of learners" %></li>
    <li><%= link_to "view groups"  %></li>
</ul>




