<h2>Dashboard</h2>

<div class="row">
    <div class="col-6">
        <h5>Manage Users</h5>
        <hr>
        <ul>
            <li><%= link_to "edit profile", edit_user_registration_path  %></li>
        </ul>
    </div>

    <div class="col-6">
        <h5>Manage Courses</h5>
        <hr>
        <ul>
            <li><%= link_to "add a course", new_course_path  %></li>
            <li><%= link_to "view course list", courses_path  %></li>
            <li><%= link_to "create group of learners" %></li>
            <li><%= link_to "view groups"  %></li>
        </ul>
    </div>
</div>






