<div class="row login-form" style="padding-top:2%">

  <div class="col-12 col-lg-4">
  </div>

  <div class="col-12 col-lg-4 form">
    <h1 class = "brand mt-3">EduKart</h1>
    <hr>
    <p class="text-center">Please Sign Up</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-signin m-5">

        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address",class: "form-control mb-3" %>
        </div>

        <div class="field">
          <%= f.text_field :first_name, placeholder: "First Name", class: "form-control mb-3"  %>
        </div>

        <div class="field">
          <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control mb-3"  %>
        </div>

        <div class="field"> 
          <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password", class: "form-control"%>
          <% if @minimum_password_length %>
            <em class= "text-danger">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Retype Password", class: "form-control mb-3 mt-3" %>
      </div>

      <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links", class: "text-center"%>
  </div>

  <div class="col-12 col-lg-4">
  </div>

</div>