<% if user_signed_in?  %>
    <%# Capitalising first letter %>
    <% if current_user.role == "Student"  %>
        <h2>Lets Start learning, <%= current_user.first_name.to_s.humanize %> </h2>
    <% else  %>
        <h2 class= "my-3">Featured Course</h2>
    <% end  %>
    <hr>
    <div class="row row-cols-1 row-cols-md-3">
        <% @courses.each do |course| %>
            <div class="col mb-4">
                <div class="card h-100">
                <%= image_tag course.image_name, class: "card-img list-image"  %>
                <div class="card-body">
                    <h5 class="card-title"><%= course.course_name %></h5>
                    <p class="card-text"><%= course.description %></p>
                    <%= link_to 'Start Learning', course, class: "btn btn-outline-primary btn-block" %>
                </div>
                </div>
            </div>
        <% end  %>
    </div>


<% else %>
    <h2>Featured Course</h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-3">
        <% @courses.each do |course| %>
            <div class="col mb-4">
                <div class="card h-100">
                <%= image_tag course.image_name, class: "card-img list-image"  %>
                <div class="card-body">
                    <h5 class="card-title"><%= course.course_name %></h5>
                    <p class="card-text"><%= course.description %></p>
                    <%= link_to 'Start Leaning', course, class: "btn btn-outline-primary btn-block" %>
                </div>
                </div>
            </div>
        <% end  %>
    </div>
<% end %>