<div class="row mb-5">

      <div class="col-12 col-lg-4">
      </div>

      <div class="col-12 col-lg-4 form">

        <%= form_with(model: course) do |form| %>
          <% if course.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                <% course.errors.each do |error| %>
                  <div><%= error.full_message %></div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="field mb-3 form-group">
            <%= form.label :course_name %>
            <%= form.text_field :course_name, placeholder: "Course Name", class: "form-control" %>
          </div>

          <div class="field mb-3 form-group">
            <%= form.label "Course Description" %>
            <%= form.text_field :description, placeholder: "Course Description", class: "form-control" %>
          </div>

          <div class="field mb-3 form-group">
            <%= form.label "Choose an Image" %>
            <%= form.file_field :image_name, class: "form-control-file" %>
          </div>

          <div class="actions">
            <%= form.submit "Create Course", class: "btn btn-primary btn-block mb-4" %>
          </div>
        <% end %>

      </div>

    <div class="col-12 col-lg-4">
    </div>

</div>
