<h2>Courses</h2>
  
<div class="row row-cols-1 row-cols-md-3">
  <% @courses.each do |course| %>
    <div class="col mb-4">
        <div class="card h-100">
          <%= image_tag course.image_name, class: "card-img list-image"  %>
          <div class="card-body">
            <h5 class="card-title"><%= course.course_name %></h5>
            <p class="card-text"><%= course.description %></p>

            <%= link_to 'Show', course, class: "btn btn-outline-primary btn-block" %>
            <%= link_to 'Edit', edit_course_path(course) %>
            <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end  %>
</div>

<%= link_to 'New Course', new_course_path %>