<h2 class="my-3">Courses</h2>
  
<div class="row row-cols-1 row-cols-md-3">
  <% @courses.each do |course| %>
    <div class="col mb-4">
        <div class="card h-100">
          <%= image_tag course.image_name, class: "card-img list-image"  %>
          <div class="card-body">
            <h5 class="card-title"><%= course.course_name %></h5>
            <p class="card-text"><%= course.description %></p>

            <% if current_user.role == "Mentor"  %>
              <%= link_to 'View Course', course, class: "btn btn-outline-primary btn-block" %>
              <div class="bg-dark d-flex justify-content-between mt-2 px-2">
                <%= link_to 'Edit', edit_course_path(course), class: "text-left" %>
                <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% else  %>
              <%= link_to 'Start Leaning', course, class: "btn btn-outline-primary btn-block" %>
            <% end  %>
          </div>
        </div>
      </div>
    <% end  %>
</div>